@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655468616216') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\f00a8";
}

.icon-order:before {
  content: "\e626";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shouye:before {
  content: "\e615";
}

.icon-kehufuwukefu:before {
  content: "\e698";
}

.icon-jiantouzuo:before {
  content: "\e659";
}

.icon-chahao:before {
  content: "\e603";
}

.icon-yue:before {
  content: "\e647";
}

.icon-jiantoushang:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-jiantouxia:before {
  content: "\e62f";
}

.icon-dianying:before {
  content: "\e630";
}

.icon-dianyingpiao:before {
  content: "\e8ae";
}

.icon-yingyuan:before {
  content: "\e8c0";
}

.icon-qianbao:before {
  content: "\e613";
}

.icon-hongbao:before {
  content: "\e708";
}

